<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nurikiri.mapper.MemberMapper">
	<resultMap id="authMap" type="com.nurikiri.domain.AuthVO">
		<result property="username" column="username" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap id="memberMap" type="com.nurikiri.domain.MemberVO">
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="name" column="name" />
		<result property="jumin" column="jumin" />
		<result property="email" column="email" />
		<!-- <result property="phone1" column="phone1" /> <result property="phone2" 
			column="phone2" /> <result property="phone3" column="phone3" /> -->
		<result property="phone" column="phone" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<result property="isDeleted" column="is_deleted"/>
		<collection property="authList" resultMap="authMap" />
		
	</resultMap>

	<select id="read" resultMap="memberMap">
		select m.username, password, name,
		jumin, email, phone, reg_date, update_date, is_deleted, auth
		from member m left outer join member_auth a 
		on m.username = a.username 
		where m.username = #{username} and is_deleted = 0
  </select>

	<insert id="insert">
		insert into member(username, password, name, jumin, email, phone)
		values(#{username}, #{password},
		#{name}, #{jumin},
		#{email}, #{phone})
	</insert>


	<insert id="insertAuth">
		insert into member_auth(username, auth)
		values(#{username}, #{auth})
	</insert>

	<update id="modify">
		update member set
		password = #{password},
		name =
		#{name},
		email = #{email},
		phone = #{phone},
		update_date = now()
		where
		username = #{username}
	</update>

	<!-- ====================================== -->

	<select id="getList" resultType="MemberVO">
		select * from member
		where is_deleted = 0
		<where>
			<include refid="criteria"></include>
		</where>
		order by username
		limit #{offset} , #{amount}
	</select>
	
	<delete id="delete">
		delete from member
		where username = #{username};
	</delete>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from member
		<where>
			<include refid="criteria"></include>
		</where>
	</select>

	<select id="getListWithPaging" resultType="MemberVO">
		select * from view_member
		<where>
			is_deleted = 0
			<include refid="criteria"></include>
		</where>
		order by username
		limit #{offset} , 8
	</select>
	
	<select id="changeAuth">
		update member_auth set
		auth = #{auth}
		where username = #{username}
	</select>
	
	<select id="isDeleted">
		update member set
		is_deleted = #{isDeleted}
		where username = #{username}
	</select>
	

<!-- 아래는 수정해야됨  -->
	<sql id="criteria">
		<trim prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'I'.toString()">
							and username like CONCAT('%', #{keyword}, '%') </when>
						<when test="type == 'N'.toString()">
							and name like CONCAT('%', #{keyword}, '%') </when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


</mapper>