<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nurikiri.mapper.ReviewMapper">
	<resultMap id="ReviewMap" type="ReviewVO">
		<id property="rno" column="rno" />
		<result property="sno" column="sno" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<result property="rate" column="rate" />
	</resultMap>

	<select id="readAll" resultMap="ReviewMap">
		select
		rno, sno, content, writer, reg_date, update_date, rate
		from store_review
		where sno = #{sno}
		order by reg_date desc
	</select>
	
	<!-- <select id="readAll" resultMap="ReviewMap">
		select
		rno, sno, content, writer, reg_date, update_date, rate, fileName, uploadPath, uuid
		from view_reviews_images
		where sno = #{sno}
		order by reg_date desc
	</select> -->
	
	<select id="get" resultMap="ReviewMap">
		select
		rno, sno, content, writer, reg_date, update_date, rate
		from store_review
		where rno = #{rno}
	</select>
	
	<!-- <select id="get" resultMap="ReviewMap">
		select
		rno, sno, content, writer, reg_date, update_date, rate, fileName, uploadPath, uuid
		from view_reviews_images
		where rno = #{rno}
	</select> -->
	
 	<insert id="create">
	
		<selectKey resultType="long" keyProperty="rno" order="AFTER" keyColumn="rno">	
  			SELECT LAST_INSERT_ID()
  		</selectKey>
	
		insert into store_review (sno, writer, content, rate)
		values(#{sno},
		#{writer}, #{content}, #{rate})
<!-- 		<selectKey resultType="Long" keyProperty="rno" keyColumn="rno"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey> -->
	</insert>
	
<!-- 	<insert id="create">
		<selectKey resultType="long" keyProperty="rno" order="AFTER" keyColumn="rno">	
  			SELECT LAST_INSERT_ID()
  		</selectKey>
	
		insert into view_reviews_images (sno, writer, content, rate, fileName, uploadPath, uuid)
		values(#{sno}, #{writer}, #{content}, #{rate}, #{fileName}, #{uploadPath}, #{uuid})
	</insert> -->
	
 	<delete id="delete">
		delete from store_review
		where rno = #{rno}
 	</delete>
 	
 	<!-- <delete id="delete">
		delete from view_reviews_images
		where rno = #{rno}
 	</delete> -->
 	
 	<!-- 이미지 등록 -->
	<insert id="imageUpdate">
		insert into review_image(rno, fileName, uploadPath, uuid) values (#{rno}, #{fileName}, #{uploadPath}, #{uuid})
	</insert>
	
</mapper>