<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.nurikiri.mapper.StoreMapper">

	<select id="getTotalCount" resultType="int">
		select count(*) from store
		<where>
			<include refid="criteria"></include>
		</where>
	</select>


	<select id="getList" resultType="StoreVO">
		select * from store
		<where>
			<include refid="criteria"></include>
		</where>
		order by sno
		limit #{offset} , #{amount}
	</select>

	<select id="getListWithPaging" resultType="StoreVO">
		select * from store
		<where>
			<include refid="criteria"></include>
		</where>
		order by sno
		limit #{offset} , #{amount}
	</select>


	<insert id="insert">
		insert into store (title, market, address, item, use_recharge_card, use_bill, use_mobile, content, owner, phone, img_src)
		values (#{title}, #{market}, #{address}, #{item}, #{useRechargeCard}, #{useBill}, #{useMobile}, #{content}, #{owner}, #{phone}, #{imgSrc})

		<selectKey resultType="Long" keyProperty="sno"
			keyColumn="sno" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>


	<select id="read" resultType="StoreVO">
		select * from store where sno =
		#{sno}
	</select>


	<delete id="delete">
		delete from store where sno = #{sno}
	</delete>

	<update id="update">
		update store set
		title = #{title},
		market = #{market},
		address = #{address},
		item = #{item},
		use_recharge_card =
		#{useRechargeCard},
		use_bill = #{useBill},
		use_mobile = #{useMobile},
		content = #{content},
		owner = #{owner},
		phone = #{phone},
		img_src = #{imgSrc}
		where sno =
		#{sno}
	</update>

	<sql id="criteria">
		<trim prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like CONCAT('%', #{keyword}, '%') </when>
						<when test="type == 'M'.toString()">
							market like CONCAT('%', #{keyword}, '%') </when>
						<when test="type == 'A'.toString()">
							address like CONCAT('%', #{keyword}, '%') </when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<sql id="sort">
		<if test="sort == null">
		ORDER BY SNO DESC
		</if>
		<if test="sort == 'sno'">
		ORDER BY SNO DESC
		</if>
		
		<if test="sort == 'starCount'">
		ORDER BY title DESC
		</if>
		<if test="sort == 'favoriteCount'">
		ORDER BY market DESC
		</if>
		<if test="sort == 'reviewCount'">
		</if>
	</sql>
	
	
	
	

</mapper>